.services { 
    background-color: white;
    
    text-align: center;

}

p{
    color: black;
}

.service{
    display: inline-block;
    width: 23%;

}
.fa-solid{
    color: orangered;
   
}
.fa-regular{
    color: orangered;
    
}